cluster/logs/*
cluster/elfi_output/*
grid/res/*
.ipynb_checkpoints/*
grid/.ipynb_checkpoints/*
data/.ipynb_checkpoints/*
old_files/.ipynb_checkpoints/*
res/sim_res/*
grid/ideas.ipynb
cluster/scripts/.ipynb_checkpoints/*
cluster/scripts/__pycache__/*
